= stylesheet_link_tag 'all'
%h1 Welcome to Admin Dashboard
%h2 Admin's Details
%table#users
  %thead
    %tr
      %th CEC ID
      %th Work Location
      
      
      
      
  %tbody    
    %tr
      %td= @user.cec_id
      %td= @user.work_city
            
         

= link_to 'Delete Mentor/Mentee', users_path, :class =>'btn'

= link_to 'Feedback Results', feedbacks_path, :class =>'btn'
