= stylesheet_link_tag 'new'

%h1 Welcome to Mentee Dashboard
%h2 Mentee Details
%table#users
  %thead
    %tr
      %th CEC ID
      %th Work Group
      %th Work Location
      
  %tbody    
    %tr
      %td= @user.cec_id
      %td= @user.current_group
      %td= @user.work_city
        
%div#menuDiv
  = link_to 'Submit Feedback', new_feedback_path, :class =>'btn'
