= stylesheet_link_tag 'new'

%h1 All Mentors
%table#mentors
  %thead
    %tr
      %th cec_id
      %th User role
      %th Work Location
      %th Delete
  %tbody
  - @mentors.each do |mentor| 
    %tr
      %td= mentor.cec_id
      %td= mentor.user_role
      %td= mentor.work_city
      %td= link_to "delete",mentor, method: :delete,data: { confirm: "You sure?" }

