= stylesheet_link_tag 'all'
%h1 All Feedbacks
%table#feedbacks
  %thead
    %tr
      %th Feedback Number
      %th Goals
      %th Suggest
      %th Support
      %th User ID
      
  %tbody
  - @feedbacks.each do |feedback| 
    %tr
      %td= feedback.id
      %td= feedback.goal_status
      %td= feedback.suggest_status
      %td= feedback.support_status
      %td= feedback.user.cisco_email
          
